{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Зміна пароля</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>
<body>

<div style="max-width:500px; margin:60px auto;">
    <h2>Змінити пароль</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="create-album-btn">
            Змінити пароль
        </button>
    </form>

    <br>
    <a href="{% url 'profile' %}">← Назад у профіль</a>
</div>

</body>
</html>